
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');
:root{
    --header-color:#160026;
    --header-color-font:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    
}

*::selection{
    background: var(--header-color-font);
    color: #fff;
}

html{
    font-size: 82.5%;
    overflow-x: hidden;
}

body{
    background: #f9f9f9;
}

section{
    min-height: 80vh;
    padding: 0 9%;
    padding-top: 7.5rem;

}

.btn{
    font-family: 'Inter';
    display: inline-block;
    margin-top: 4rem;
    padding: .8rem 3rem;
    border-radius: 1rem;
    background: #8C30F5;
    font-size: 1.3rem;
    color: #160026;
    cursor: pointer;
    color: var(--header-color-font);
}

header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--header-color);
    box-shadow: 0 .5rem 1rem rgba(103, 28, 224, 0.1);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .navbar h2{
    
    color: var(--header-color-font);
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-right: 40px;
    
}
header .navbar{
    display: flex;
}
header .logo{
    font-size: 2rem;
    font-family: 'Comfortaa', sans-serif;
    color: var(--header-color-font);
}

header .logo span{
    color:turquoise;
}

header .navbar a{
    display: block;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    color:var(--header-color-font)
}

header .navbar a:hover{
    color:violet;
}

header input{
    display:none;
}

header label{
    color: var(--header-color-font);
    font-size: 2rem;
    cursor: pointer;
    visibility: none;
    opacity: 0;
}

.publicidad {
    padding-top: 300px;
}
.publicidad .card{
    background-color: #9D93F5;
    display: flex;
    justify-content: center;
    height: 400px;
    display: flex;
    border-radius: 20px;
}

.publicidad .card .content{
    margin-top: 140px;
    font-family: 'Inter';
    margin-left: 50px;
}

.publicidad .card .content h2{
    font-size: 2.2rem;
    margin-bottom: 40px;
}
.publicidad .card .content p{
    font-size: 1.5rem;
}
.publicidad .card img{
    height: 650px;
    margin-top: -100px;
}
.contactanos{
    font-family: 'Inter';
    min-height: 50vh;
    padding-bottom: 240px;
    width: 100%;
    display: flex;

}
.contactanos .form{
    background-color:var(--header-color-font);
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1rem;
    padding: 3.5rem 1.5rem;
    margin-top: none;
}
.form_container{
    font-family: 'Inter';
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 100%;
}
.form_container h2{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #8F12F1;
}
.contactanos .form_input{
    font-family: inherit;
    font-size: 1.5rem;
    padding: .8rem 1rem;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2rem;
}
.form_input_message{
    resize: none;
    padding: 1.8rem 1rem;
    margin-bottom: .5rem;
}
.contactanos .form_btn{
    font-family: inherit;
    background-color: #8C30F5;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding: .7rem 0;
    border-radius: 0.2rem;
    cursor: pointer;
}
.home{
    padding-bottom: 20px;
    padding-top: 200px;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    background: url(./img/Background.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    justify-items: center;
}

.home .image{
    padding-left: 300px;
    display:flex;
}

.home .image img{
    
    animation: float 3s linear infinite;
    
}

.home .image .celular{
    width: 25vw;
}

.home .image .laptop{
    margin-top: 150px;
    margin-left: -150px;
    width: 25vw;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.home .content h3{
    font-family: 'Inter';
    font-size: 5.5rem;
    color: #18191F;
}

.vincular{
    display: flex;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    
}
.vincular .vincular_content{
    padding-right: 100px
}
.vincular .vincular_content h2{
    font-family: 'Inter';
    font-size: 2.2rem;
    color: #18191F;
    margin-bottom: 5%;
}

.vincular .vincular_content p{
    font-family: 'Inter';
    font-size: 1.5rem;
}

.vincular img{
    width: 500px;
}

.caracteristicas{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracteristicas .content h2{
    font-family: 'Inter';
    font-size: 2.2rem;
    color: #18191F;
    padding-bottom: 35px;
}

.caracteristicas .content .lista_caracteristicas{
    display: flex;
    font-family: 'Inter';
    font-size: 1.5rem;
    justify-content: space-between;
}
.lista_caracteristicas ul li{
    display: flex;
    padding-bottom: 35px;
}

.caracteristicas_items{
    display: flex;
    flex-direction: row;
}
.caracteristicas_items_2{
    display: flex;
    flex-direction: column;
}
.caracteristicas .content .lista_caracteristicas li{
    list-style: none;
}
.caracteristicas .content{
    padding-right: 150px;
}
.caracteristicas .content img{
    width: 70px;
    height: 70px;
}

.caracteristicas .caracteristicas_img img{
    width: 350px;
}

.algoritmo{
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
}

.algoritmo .card{
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #8C30F5;
    border-radius: 20px;
    height: 350px;
    width: 1800px;
    position: relative;
    padding-left: 10%;
}

.algoritmo .card img{
    width: 350px;
}
.algoritmo .content{
    font-family: 'Inter';  
    font-size: 1.5rem;
    color: var(--header-color-font);
    padding-right: 150px;
    
}

.algoritmo .content h3{
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.algoritmo .content p{
    margin-bottom: none;
}

.gastos{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}
.gastos img{
    width: 450px;
}
.gastos .content{
    padding-left: 100px;
    font-family: 'Inter';
    
}
.gastos .content p{
    font-size: 1.5rem;
}
.gastos .content h3{
    margin-bottom: 5%;
    font-size: 2.2rem;
}

.comunidad{
    background: #9D93F5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.comunidad .content{
    font-family: 'Inter';
    
    padding-right: 10%;
}

.comunidad .content h3{
    margin-bottom: 5%;
    font-size: 2.2rem;
}

.comunidad .content p{
    margin-bottom: 5%;
    font-size: 1.5rem;
}
.comunidad img{
    width: 350px;
}
.descarga{
    background: #2EC5CE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 87px;
}

.descarga .content{
    font-family: 'Inter';
    
    padding-right: 150px;
}

.descarga .content .title{
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.descarga .content p{
    margin-bottom: 4%;
    font-size: 1.5rem;
}
.img_app img{
    width: 350px;
}
.footer_section{
    background: #0B0D17;
    color: var(--header-color-font);
    display: flex;
    height: 300px;
    justify-content: space-between;
}

.footer_section .content{
    justify-content: space-between;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    
    padding-left: 25px;
}

.footer_section .content  h2{
    padding-top: 20px;
    font-size: 2.2rem ; 
}

.footer_section .content p{
    padding-bottom: 20px;
    font-size: 1.5rem;
}
.footer_section .content h3{
    
    font-size: 1.5rem;
}
.footer_section .content .menu ul{
    display: flex;
    font-size: 1.5rem;
}

.footer_section .content .menu ul a{
    color: var(--header-color-font);
    padding-right: 60px;
    list-style: none;
}

.footer_section .descagar_aplicacion{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.footer_section .descagar_aplicacion h2{
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 1.5rem;
    font-family: 'Inter';
}






















































/*media queries*/
@media (max-width:1700px){
    html{
        font-size: 72.5%;
        overflow-x: hidden;
    }
    .laptop img{
        display: none;
    }
    .home .image{
        padding-left: 50px;
    }
    .home .image img{
        padding-left: 100px;
    }
}

@media (max-width:768px){
    header .navbar{
        display: block;
    }
    .home .content{
        margin-left: 80px;
        
    }
    .vincular .vincular_content{
        padding-right: 0;
    }
    .publicidad{
        justify-content: center;
    }
    .publicidad .card{

        margin-left: 40px;
        justify-content: center;
        height: 400px;
        width: 400px;
    }
    .footer_section .descagar_aplicacion a img{
        display: none;
    }
    .footer_section .descagar_aplicacion h2{
        display: none;
    }
    .publicidad .card .content{
        margin-top: 100px;
        font-family: 'Inter';
        margin-left: 50px;
        margin-right: 50px;
    }
    .gastos .content{
        padding-left: 0;
    }
    .publicidad .mobile_img img{
        display: none;
    }
    header label{
        visibility: visible;
        opacity: 1;
    }
    .comunidad .content{
        font-family: 'Inter';
        
        padding-right: 0;
    }
    .descarga .content{

        
        padding-right: 0;
    }
    .caracteristicas .content{
        padding-right: 0;
    }
    .aplicaciones_img{
        display: none;
    }
    .caracteristicas_img{
        display: none;
    }
    .algoritmo .card div img{
        display: none;
    }
    .comunidad .img_comunidad img{
        display: none;
    }
    .img_gastos img{
        display: none;
    }
    .img_app{
        display: none;
    }
    section{
        min-height: 40vh;
        padding: 0 9%;
        padding-top: 7.5rem;
    }
    header .navbar{
        position: absolute;
        
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding:1rem 2rem;
        border-top: 1px solid rgba(124, 46, 197, 0.2);
        box-shadow: 0 .5rem 1rem rgba(124, 46, 197, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a{
        color:var(--header-color);
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header .navbar a h2{
        color:var(--header-color);
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~label::before{
        content: '\f00d';
    }
    .celular img{
        display: none;
    }
    .publicidad {
        padding-top: 150px;
    }
    
}
@media (max-width: 1060px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    .caracteristicas .content{
        padding-right: 0;
    }
    header .navbar{
        display: block;
    }
    header .navbar{
        position: absolute;
        
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding:1rem 2rem;
        border-top: 1px solid rgba(124, 46, 197, 0.2);
        box-shadow: 0 .5rem 1rem rgba(124, 46, 197, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a{
        color:var(--header-color);
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header .navbar a h2{
        color:var(--header-color);
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~label::before{
        content: '\f00d';
    }
    .algoritmo .card div img{
        width: 300px;
    }
    .gastos .img_gastos img{
        width: 350px;
    }
    .img_comunidad img{
        width: 300px;
    }
    .img_app img{
        width: 300px;
    }
    .caracteristicas .caracteristicas_img img{
        width: 300px;
    }
    .aplicaciones_img img{
        width: 400px;
    }
    .algoritmo .content{
        font-family: 'Inter';  
        font-size: 1.5rem;
        color: var(--header-color-font);
        padding-right: 0;
        
    }
    section{
        min-height: 50vh;
        padding: 0 9%;
        padding-top: 7.5rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
    .home{
        display: flex;
        flex-direction: column;
        background-size:auto;
        background-position: center;
    }

    .footer_section .content{
        width: auto;
        overflow:hidden;
    }
    .menu ul {
        flex-direction: column;
    }
    .home .content{
        margin-left: 0;
        
    }
    section{
        min-height: 30vh;
        padding: 0 9%;
        padding-top: 7.5rem;
    }
}