
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');
:root{
    --header-color:#160026;
    --header-color-font:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--header-color-font);
    color: #fff;
}

html{
    font-size: 82.5%;
    overflow-x: hidden;
}

body{
    background: #f9f9f9;
}

section{
    min-height: 80vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}

.btn{
    font-family: 'Inter';
    display: inline-block;
    margin-top: 4rem;
    padding: .8rem 3rem;
    border-radius: 1rem;
    background: #8C30F5;
    font-size: 1.3rem;
    color: #160026;
    cursor: pointer;
    color: var(--header-color-font);
}

header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--header-color);
    box-shadow: 0 .5rem 1rem rgba(103, 28, 224, 0.1);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    font-family: 'Comfortaa', sans-serif;
    color: var(--header-color-font);
}

header .logo span{
    color:turquoise;
}

header .navbar a{
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    color:var(--header-color-font)
}

header .navbar a:hover{
    color:violet;
}

header input{
    display:none;
}

header label{
    color: var(--header-color-font);
    font-size: 2rem;
    cursor: pointer;
    visibility: none;
    opacity: 0;
}

.home{
    padding-bottom: 300px;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    background: url(./img/Background.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image{
    padding-left: 300px;
    display:flex;
}

.home .image img{
    
    animation: float 3s linear infinite;
    
}

.home .image .celular{
    width: 25vw;
}

.home .image .laptop{
    margin-top: 150px;
    margin-left: -150px;
    width: 25vw;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.home .content h3{
    font-family: 'Inter';
    font-size: 5.5rem;
    color: #18191F;
}

.vincular{
    display: flex;
    background: #FFFFFF;
    
}

.vincular .vincular_content h2{
    font-family: 'Inter';
    font-size: 3.5rem;
    color: #18191F;
}

.vincular .vincular_content p{
    font-family: 'Inter';
    font-size: 1.5rem;
}

.caracteristicas{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.caracteristicas .content h2{
    font-family: 'Inter';
    font-size: 3.5rem;
    color: #18191F;
}

.caracteristicas .content .lista_caracteristicas{
    display: flex;
    list-style: none;
}

.algoritmo{
    background: #FFFFFF;
    display: flex;
}

.gastos{
    background: #FFFFFF;
    display: flex;
}

.comunidad{
    background: #9D93F5;
    display: flex;
}

.descarga{
    background: #2EC5CE;
    display: flex;

}

.footer_section{
    background: #0B0D17;
    color: var(--header-color-font);
    display: flex;
}

.footer_section .content{
    justify-content: space-between;
}

.footer_section .content .menu ul{
    display: flex;
    justify-content: space-between;
}

.footer_section .descagar_aplicacion{
    display: grid;
    padding-left: 100vh;
}






















































/*media queries*/
@media (max-width:1200px){
    html{
        font-size: 72.5%;
        overflow-x: hidden;
    }
}

@media (max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding:1rem 2rem;
        border-top: 1px solid rgba(124, 46, 197, 0.2);
        box-shadow: 0 .5rem 1rem rgba(124, 46, 197, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }
    header .navbar a{
        color:var(--header-color);
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~label::before{
        content: '\f00d';
    }
}

@media (max-width:450px){
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
}